img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
body{
    background: peru;
    text-align: center;
    
}
button{
    width: 100px;
    border-radius: 50px;
    background: yellowgreen;
    margin-left: 10px;
    transition: 1s;
}
button:hover{
    background: white;
    color: red;
    cursor: pointer;
}