*{
    background: lightcoral;
}
.box1{
    height: 150px;
    width: 150px;
    background: yellowgreen;
}
.box2{
    height: 150px;
    width: 150px;
    background: blue;
    flex-grow: 2;
}
.box3{
    height: 150px;
    width: 150px;
    background: black;
    flex-shrink: 0;

}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    border: 2px solid white;

}